<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDz1CQFoDpQAJyDWE4g3a2fI2t9TXz_v4g</string>
	<key>GCM_SENDER_ID</key>
	<string>902180121403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>task-management-app-e01f1</string>
	<key>STORAGE_BUCKET</key>
	<string>task-management-app-e01f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902180121403:ios:bd4ca42d7a8f3c416f651e</string>
</dict>
</plist>